#pageContainer
  %h1 Slick Slideshow using jQuery
  #slideshow
    #slidesContainer
      .slide
        %h2 Enter the Situation you faced
        %form
          %textarea{:id => "text_sit_id", :rows => 6, :cols => 200}
          %input{:id =>"sit_id", :type => "button", :value => "Submit"} 
      .slide
        %h2 Enter your Automatic Thoughts
        %form
          %textarea{:id => "text_automatic_id", :rows => 6, :cols => 200}
          %input{:id =>"automatic_id", :type => "button", :value => "Submit"}
      .slide
        %h2 Rational Outlook
        %form
          %textarea{:id => "text_rational_id", :rows => 6, :cols => 200}
          %input{:id =>"rational_id", :type => "button", :value => "Submit"}
      .slide
        %h2 Action
        %form
          %textarea{:id => "text_actions_id", :rows => 6, :cols => 200}
          %input{:id =>"actions_id", :type => "button", :value => "Submit"}
  #footer_slide
    .cont
      #box1
        %h2 Situation 
      #box2 
        %h2 Automatic Thoughts 
      #box3
        %h2 Rational Outlook
      #box4
        %h2 Actions
                          
      #situation_footer
      #automatic_footer
      #rational_footer
      #actions_footer
    //  %p{:id => "situation_footer"}
    //  %p{:id => "automatic_footer"}
    //  %p{:id => "rational_footer"}
    //  %p{:id => "actions_footer"}

        
  / Slideshow HTML

    