.five-col
  #header 
    Hello: Welcome to Cognitive Behavioural Therapy -- This is a Thought Record
  #sidebar
    %ul
      %li Link 1
      %li Link 2
      %li Link 3
      %li Link 4
  .contents
    .box
      %h3
        Situation
    .box
      %h3
        Automatic Thoughts
    .box
      %h3
        Alternative Rational Thought
    .box
      %h3
        Actions
  #footer
    Thank you for taking the time to visit our site.
  
  