#pageContainer
  %h1 Slick Slideshow using jQuery
  #slideshow
    #slidesContainer
      .slide
        %h2 Enter the Situation you faced
        %form
          %textarea{:id => "text_sit_id", :rows => 6, :cols => 200}
          %input{:id =>"sit_id", :type => "button", :value => "Submit"} 
      .slide
        %h2 Enter your Automatic Thoughts
        %form
          %textarea{:id => "text_automatic_id", :rows => 6, :cols => 200}
          %input{:id =>"automatic_id", :type => "button", :value => "Submit"}
      .slide
        %h2 Alternative Outlook
        %form
          %textarea{:id => "text_rational_id", :rows => 6, :cols => 200}
          %input{:id =>"rational_id", :type => "button", :value => "Submit"}
      .slide
        %h2 Reframed Cognitive Thought
        %form
          %textarea{:id => "text_actions_id", :rows => 6, :cols => 200}
          %input{:id =>"actions_id", :type => "button", :value => "Submit"}
  #footer_slide
    .box
      %h2 Situation
      #situation_footer 
    .box 
      %h2 Automatic Thoughts 
      #automatic_footer
    .box
      %h2 Alternative Rational Thought
      #rational_footer
    .box
      %h2 Actions
      #actions_footer
        
  / Slideshow HTML

    