#pageContainer
  %h1
    %a{:href => "http://sixrevisions.com/tutorials/javascript_tutorial/create-a-slick-and-accessible-slideshow-using-jquery/"} Slick Slideshow using jQuery
  / Slideshow HTML
  #slideshow
    #slidesContainer
      .slide
        %h2 Web Development Tutorial
        %p
          %img{:alt => "An image that says Install X A M P P for wordpress.", :height => "145", :src => "/assets/img_slide_01.jpg", :width => "215"}/
          If you're into developing web apps, you should check out the tutorial called "
          Using XAMPP for Local WordPress Theme Development
          " which shows you how to set up a local testing server for developing PHP/Perl based applications locally on your computer. The example also shows you how to set up WordPress locally!
      .slide
        %h2 Grunge Brushes, Anyone?
        %p
          %img{:alt => "A thumbnail image that says S R grunge photoshop brushes 6 high resolution grunge brushes by six revisions.", :height => "145", :src => "/assets/img_slide_02.jpg", :width => "215"}/
          In this layout, I used succeed SR Grunge which is a free set of high-resolution Photoshop brushes you can download here on Six Revisions.
      .slide
        %h2 How About Some Awesome Grunge Textures?
        %p
          %img{:alt => "A thumbnail image that says grunge extreme 15 free high resolution grunge textures six revisions.", :height => "145", :src => "/assets/img_slide_03.jpg", :width => "215"}/
          The texture used in this web page is from the Grunge Extreme Textures freebie set by JC Parmley released here on Six Revisions.
        %p
          You can head over to the Grunge Extreme page to download the texture set or check out Six Revisions freebie section
          for even more goodies!
      .slide
        %h2 'Tis the End, My Friend.
        %p
          %img{:alt => "Thumbnail image that says sleek button using photoshop that links to a Photoshop tutoril.", :height => "145", :src => "/assets/img_slide_04.jpg", :width => "215"}/
          This is the last slide. Hit the left arrow control to go back to the other slides.
        %p
          Alternatively, you may want to check out the tutorial on how to create a simple and cool button in Photoshop called "
          " which was inspired by theCampaign Monitor web interface.
  / Slideshow HTML

    